# Frontend

frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

frontend/coverage

frontend/.next/
frontend/out/

frontend/build

frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

frontend/.vercel

frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Backend

backend/.venv
backend/__pycache__/

# General

.DS_Store
*/.env*
*/.idea
