@import "tailwindcss";

@theme {
    --color-accent: #0F4FAF;
    --color-background: #0F1013;
    --color-bright-text: #D8DFEA;
    --color-text: #C6CDD9;
    --color-gray-text: #8C939C;
    --color-dark-gray-text: #72787F;
    --color-input-stroke: #2F353C;
    --color-separator: #1F2328;
    --color-blur-background: rgba(15, 16, 19, 0.7);
    --color-danger-color: #8E1F0F;
    --color-user-icon-green: #2C5858;
    --color-user-icon-purple: #542C59;
    --color-user-icon-blue: #2C3859;

    --text-logo: 21px;
    --text-main-text: 15px;
    --text-button-text: 14px;
    --text-question-header: 18px;
    --text-block-header: 22px;
    --text-welcome-label: 32px;

    --font-weight-regular: 400;

    --spacing-content-horizontal: 16px;
}

@layer utilities {
    .bg-blur-background {
        background-color: var(--color-blur-background);
        -webkit-backdrop-filter: blur(14px);
        backdrop-filter: blur(14px);
    }
}

body {
    padding-left: var(--spacing-content-horizontal);
    padding-right: var(--spacing-content-horizontal);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--text-main-text);
    font-weight: var(--font-weight-regular);
}
